<article class="container mt-5 pt-5" id="about">
    <section class="row justify-content-center align-items-center py-4">
        <div class="col-lg-6 mb-3">
            <h3 class="display-4 fw-bold">About Our Coffee</h3>
            <p class="lead mt-2">
                We create new coffee drinks and share their recipes online. You can either try it out yourself or order one for pick-up.
                We brew our coffee with the best coffee beans, roasted for premium flavor, creating a rich and smooth taste in each drink.
            </p>
            <a href="/menu" class="btn btn-lg mt-2 btn-outline-brown">get started</a>
        </div>
        <div class="col-lg-6 mb-3">
            <img src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 class="img-fluid"
                 loading="lazy"
                 alt="Lorem Ipsum Title"
            />
        </div>
    </section>
</article>