<header class="home-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-ld-10 text-white">
                <img src="/assets/navLogo.png" height="120" width="120" alt="nav logo" />
                <h1 class="display-4 mb-2">Shared Coffee & Food Recipes</h1>
                <h2>Find or create your own special blend of brew.</h2>
                <a href="/menu" class="btn btn-lg btn-brown text-white">Our Menu</a>
                <a href="#about" class="btn btn-lg btn-outline-light">About Us</a>
            </div>
        </div>
    </div>
</header>
