<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<div class="container" style="margin-top: 130px; margin-bottom: 90px;">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

        <!--Grid row-->
        <div class="row justify-content-center align-items-center">

            <div class="col-md-12 text-center pt-5">
                <h1 class="display-4 text-dark font-weight-bold mb-4">Upload A New Menu Item</h1>
                <h2 class="mb-5 pb-2">This will show-case on the home page for all visitors to see.</h2>
                <form action="/store/menu" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" name="title" placeholder="Item Title" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="file" name="image" class="form-control" accept="image/*" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="featureList">
                                <div class="featureDiv">
                                    <input type="text" placeholder="Talk about the ingredients" name="ingredients" id="feature" class="mb-2 form-control" />
                                </div>
                            </div>
                            <span>Add New Feature</span> <button type="button" class="btn btn-primary" id="addFeature">Add <i class="fas fa-circle-plus"></i></button>
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea name="details" placeholder="Talk about the item ingredients and features." class="form-control" rows="7" required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary mr-2" type="submit">submit item</button>
                </form>
            </div>

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>